@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Space Grotesk', sans-serif;
  }
}

.glass-container {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.dark .glass-container {
    background: rgba(35, 23, 15, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
